In [54]:
%matplotlib inline
import pandas as pd
import numpy as np
from sklearn import tree
import matplotlib.pyplot as plt

df=pd.read_csv('resume_shortlist.csv')

In [55]:
df.head()

  Degree  Grade  Work Experience Referral Shortlisted
0  BTech     50                4        N           N
1  MTech     40                4        N           N
2  MTech     95                5        N           Y
3  BTech     80                4        N           Y
4  MTech     60                5        N           Y

In [56]:
d={'BTech':0,'MTech':1}
df['Degree']=df['Degree'].map(d)

d={'Y':1,'N':0}
df['Referral']=df['Referral'].map(d)
df['Shortlisted']=df['Shortlisted'].map(d)

In [57]:
df.head()

   Degree  Grade  Work Experience  Referral  Shortlisted
0       0     50                4         0            0
1       1     40                4         0            0
2       1     95                5         0            1
3       0     80                4         0            1
4       1     60                5         0            1

In [66]:
attributes=list(df.columns[:4])
X=df[attributes]
Y=df['Shortlisted']
clf=tree.DecisionTreeClassifier()
clf=clf.fit(X,Y)

In [71]:
print(clf.predict([[1,40,3,1]]))

[0]

In [72]:
print(clf.predict([[1,95,5,0]]))

[1]